.u-center-text{
    text-align: center;
}

.u-margin-botom-big{
    margin-bottom: 8rem;
}
.u-margin-botom-medium{
    margin-bottom: 4rem;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}
